$corDeFundo: #2d2508;
$corDeFundoHeader: #131007;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #706e02;
$corDeFundoBotaoSecundario: #6b4e0f;
$corDeFundoBotaoDark: #000;